__pycache__
*.pyc
*.pyo
.venv
.env
.git
.gitignore
data/*.db
data/*.db-journal
data/*.db-wal
data/*.db-shm
data/*.bkp
data/*.backup
node_modules
app/static/app.css
app/static/vendor
README.md
.DS_Store
